.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: #000;
  border: 1.5px solid #fff;
  border-radius: 6px;
  padding: 40px;
  width: 450px; 
  height: 420px;
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closeIcon {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 26px;
  cursor: pointer;
  color: #fff;
}

.pokemonImage {
  width: 100%;
  height: auto;
  max-height: 120px;
  object-fit: contain;
  margin: 0 auto;
}

.pokemonName {
  font-size: 24px;
  margin: 0 auto;
  text-transform: capitalize;
}

.characteristics {
  width: 250px; 
  margin: 0 auto;
  text-align: left; 
}  

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  max-width: 100%;
  word-wrap: break-word;
  margin: 10px 0;
}
