.button {
	background-color: blue;
	color: white;
	width: 250px;
	height: 40px;
	border: 1.2px solid rgb(0, 136, 255);
	border-radius: 2px;
	cursor: pointer;
	margin-left: 8rem;
	margin-bottom: 30px;
} 

.button:hover {
	background-color: darkblue;
}
  
.button:active {
	background-color: navy;
	border-color: navy;
}