.input {
	width: 310px;
	height: 40px;
	border: 1.2px solid rgba(128, 128, 128, 0.192);
	border-radius: 2px;
	padding-left: 10px;
	margin-left: 22rem;
	margin-bottom: 30px;
}

.input:focus {
	border-color:rgba(231, 228, 228, 0);
}

